<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>About ploopit</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <script src="../static/scripts/misc.js"></script>
</head>

<body class="sub_page">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="/">
            <img src="../static/images/apple-touch-icon.png" alt="">
            <span>
              Ploopit
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/login"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register"> Register </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://discord.gg/wyCrz6TZdw"> discord </a>
                </li>
              </ul>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Ploopit
              </h2>
            </div>
            <p>
Ploopit is a project based on blooket, blacket, and blookstation. It is made by SOUNDGOD and Conspirator2113.
We hope you enjot ploopit and what we have to offer. The full release should be august 8th to 17th.
If you need help contact the email cbysket@gmail.com. Welcome to ploopit!
            </p>
          </section>
            <section class="about_section layout_padding">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div class="heading_container">
              <h2>
            Who are we?
          </h2>
        </div>
        <p>
I am SOUNDGOD a learning developer, I am learning HTML, CSS, JavaScript, and Python.
My second dev is Conspirator2113 he does a lot, he helps me with our python backend stuff.
We use this project to learn more about programing, and to learn more about Blooket and Blacket.
        </p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->
>
    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
      <h2>
   Credits
  </h2>
</div>
<text>Owner - SOUNDGOD the owner</text>
<br>
<br>
  Developer - Conspirator2113
  <text> Made a lot of ploopit's backend</text>
  <br>
  <br>
  Artist - BRP
  <text>Made a lot of ploopits's graphics!</text>
  <br>
  <br>
  Other - Blacket
  <text>Was inspo for this project please check them out, any code that we may have used, is by them is made by them so huge thanks!</text>
  <br>
  <br>
  Artist - Shalom98p
  <text>made a lot of old ploopit graphics and new ones, Huge thanks!</text>
  <br>
  <br>
  Artist - Kaylen
  <text>made a lot of new ploopit graphics and animations, Huge thanks!</text>
  <br>
  <br>
  Artist - Equilix
  <text>made some old ploopit graphics.</text>
  </div>
</div>

<div class="col-md-6">
  <div class="img-box">
    <img src="images/about-img.png" alt="">
  </div>
</div>
</div>
</div>
</section>
  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      Not licenced SOUNDGOD Ploopit 2023 cbysket@gmail.com
    </p>
  </footer>
  <!-- footer section -->

  <script type="text/javascript" src="../static/scripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/scripts/bootstrap.js"></script>

</body>

</html>